* {
  margin: 0px;
  padding: 0px;
}

.nav-bar {
  text-align: center;
}

.nav-bar ul li {
  display: inline-block;
}

.header {
  text-align: center;
}

.grid {
  margin: 20px auto;
  width: 300px;
}

 .cell {
   background-color: #fff;
   margin: 0px;
   padding: 0px;
   float: left;
   border: 1px solid #000;
 }

.nav-bar ul li {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 3px;
}

a {
  text-decoration: none; 
  color: #000;
}